<plugin name='birt-report' version='4.2.0.1' grailsVersion='2.0.4 &gt; *'>
  <author>Eyck Jentzsch</author>
  <authorEmail>eyck@jepemuc.de</authorEmail>
  <title>Birt Reporting Plugin</title>
  <description>This plugin makes it easy to integrate the Birt reporting engine (runtime component) into your Grails application.
Currently BIRT 4.2.0 is used.
</description>
  <documentation>http://grails.org/plugin/birt-report</documentation>
  <type>BirtReportGrailsPlugin</type>
  <resources>
    <resource>BirtReportService</resource>
  </resources>
  <repositories>
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>