/com.ibm.icu_*
/com.lowagie.text_*
/commons-cli-*
/derby.jar
/flute.jar
/javax.wsdl_*
/js.jar
/org.apache.batik.bridge_*
/org.apache.batik.css_*
/org.apache.batik.dom_*
/org.apache.batik.dom.svg_*
/org.apache.batik.ext.awt_*
/org.apache.batik.parser_*
/org.apache.batik.pdf_*
/org.apache.batik.svggen_*
/org.apache.batik.transcoder_*
/org.apache.batik.util_*
/org.apache.batik.util.gui_*
/org.apache.batik.xml_*
/org.apache.commons.codec_*
/org.apache.xerces_*
/org.apache.xml.resolver_*
/org.apache.xml.serializer_*
/org.eclipse.birt.runtime_*
/org.eclipse.core.contenttype_*
/org.eclipse.core.expressions_*
/org.eclipse.core.filesystem_*
/org.eclipse.core.jobs_*
/org.eclipse.core.resources_*
/org.eclipse.core.resources_*
/org.eclipse.core.runtime_*
/org.eclipse.datatools.connectivity_*
/org.eclipse.datatools.connectivity.apache.derby_*
/org.eclipse.datatools.connectivity.apache.derby.dbdefinition_*
/org.eclipse.datatools.connectivity.console.profile_*
/org.eclipse.datatools.connectivity.db.generic_1.0.1.v201107221459.jar
/org.eclipse.datatools.connectivity.dbdefinition.genericJDBC_*
/org.eclipse.datatools.connectivity.oda_*
/org.eclipse.datatools.connectivity.oda.consumer_*
/org.eclipse.datatools.connectivity.oda.design_*
/org.eclipse.datatools.connectivity.oda.flatfile_*
/org.eclipse.datatools.connectivity.oda.profile_*
/org.eclipse.datatools.connectivity.sqm.core_*
/org.eclipse.datatools.enablement.hsqldb_*
/org.eclipse.datatools.enablement.hsqldb.dbdefinition_*
/org.eclipse.datatools.enablement.ibm.db2.luw_*
/org.eclipse.datatools.enablement.ibm.db2.luw.dbdefinition_*
/org.eclipse.datatools.enablement.ibm.informix_*
/org.eclipse.datatools.enablement.ibm.informix.dbdefinition_*
/org.eclipse.datatools.enablement.msft.sqlserver_*
/org.eclipse.datatools.enablement.msft.sqlserver.dbdefinition_*
/org.eclipse.datatools.enablement.mysql_*
/org.eclipse.datatools.enablement.mysql.dbdefinition_*
/org.eclipse.datatools.enablement.oda.ws_*
/org.eclipse.datatools.enablement.oda.xml_*
/org.eclipse.datatools.enablement.oracle_*
/org.eclipse.datatools.enablement.oracle.dbdefinition_*
/org.eclipse.datatools.enablement.postgresql_*
/org.eclipse.datatools.enablement.postgresql.dbdefinition_*
/org.eclipse.datatools.modelbase.dbdefinition_*
/org.eclipse.datatools.modelbase.derby_*
/org.eclipse.datatools.modelbase.sql_*
/org.eclipse.datatools.modelbase.sql.query_*
/org.eclipse.emf_*
/org.eclipse.emf.common_*
/org.eclipse.emf.ecore_*
/org.eclipse.emf.ecore.change_*
/org.eclipse.emf.ecore.xmi_*
/org.eclipse.equinox.app_*
/org.eclipse.equinox.common_*
/org.eclipse.equinox.preferences_*
/org.eclipse.equinox.registry_*
/org.eclipse.osgi_*
/org.eclipse.osgi.services_*
/org.eclipse.update.configurator_*
/org.w3c.css.sac_*
/org.w3c.dom.smil_*
/org.w3c.dom.svg_*
/Tidy.jar
/javax.xml.stream_1.0.1.v201004272200.jar
/org.apache.commons.logging_1.1.1.v201101211721.jar
/org.apache.poi_3.9.0.v201303080712.jar
/org.eclipse.orbit.mongodb_2.10.1.v20130422-1135.jar
